body{
  margin: 0px;
  background-color: #ece0d1;
  overflow-x: hidden;
}
.header--logo{
  background-color: #dbc1ac;
  height: 130px;
  width: 1990px;
}
.header--logo img{
  height: 130px;
  width: 160px;
}
main{
  margin-left: 10px;
  margin-right: 10px;
}
.header--logo h1{
  margin-top: -90px;
  text-align: center;
  color: #794028;
}
h1:hover{
  color: #4B1F0E;
  cursor: pointer;
}
.navbar{
  width: 1990px;
  height:100px;
  background-color: #794028;
  display: flex;
  align-items: center;
  justify-content: center;
}
.burger-holder{
  width: 70px;
  height: 70px;
  align-items: center;    
  justify-content: center;
  
}
.burger-holder:hover{
  cursor: pointer;
  background-color: rgba(209, 150, 95, 0.786);
  border-radius: 50px
}
.menu--template{
  height: 100vh;
  width: 585px;
  display: none;
  background-color: rgb(0, 0, 0);
  position: absolute;
  align-items: center;
  justify-content: center;
}
.menu--template ul{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.menu--template ul li{
  width: 585px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
.menu--template ul li a{
  text-decoration: none;
  color: white;
}
.menu--template ul li a:hover{
  color: #794028;
}
.X--logo{
  width: 50px;
  height: 50px;
  position: absolute;
  left: 20%;
  top: 20%
}
.X--logo:hover{
  background-color: #794028;
}
.navbar ul{
  list-style-type: none;
  background-color: #0E0504;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}
.navbar a{
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}
.navbar a:hover{
  background-color: #4B1F0E;
}
.navbar li{
  float: left;
  display: none;
}
.container {
  background-color: pink;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .featured-product, .product-grid {
    margin-bottom: 30px;
}
.wallpaper--coffee {
align-items: center;
justify-content: center;
position: flex;
}
.wallpaper--image {
  width: 100%;
  height: 100%;
}
.homepage--text{
  text-align: center;
}
.product {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.product img {
    max-width: 500px;
    height: auto;
}

.product-name {
    font-weight: bold;
}

.product-price {
    color: #e44d26; /* Orange color for price */
}
.product--images-landingpage{
  height: 250px;
  width: 550px;
}

.btn {
  padding: 1.1em 2em;
  background: none;
  border: 2px solid #fff;
  font-size: 15px;
  color: #131313;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
  border-radius: 12px;
  background-color: #ecd448;
  font-weight: bolder;
  box-shadow: 0 2px 0 2px #000;
 }
 
 .btn:before {
  content: "";
  position: absolute;
  width: 100px;
  height: 120%;
  background-color: #ff6700;
  top: 50%;
  transform: skewX(30deg) translate(-150%, -50%);
  transition: all 0.5s;
 }
 
 .btn:hover {
  background-color: #4cc9f0;
  color: #fff;
  box-shadow: 0 2px 0 2px #0d3b66;
 }
 
 .btn:hover::before {
  transform: skewX(30deg) translate(150%, -50%);
  transition-delay: 0.1s;
 }
 
 .btn:active {
  transform: scale(0.9);
 }
 .main--contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

.up {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  
}

.down {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.card1 {
  width: 160px;
  height: 160px;
  outline: none;
  border: none;
  background: white;
  border-radius: 90px 5px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
}

.instagram {
  margin-top: 1.5em;
  margin-left: 1.2em;
  fill: #cc39a4;
}

.card2 {
  width: 160px;
  height: 160px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 90px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
}

.facebook {
  margin-top: 1.5em;
  margin-left: -.9em;
  fill: #03A9F4;
}

.card3 {
  width: 160px;
  height: 160px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 5px 90px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
}

.github {
  margin-top: -.6em;
  margin-left: 1.2em;
}

.card4 {
  width: 160px;
  height: 160px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 90px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
}

.discord {
  margin-top: -.9em;
  margin-left: -1.2em;
  fill: #8c9eff;
}

.card1:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #cc39a4;
}

.card1:hover .instagram {
  fill: white;
}

.card2:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #1877f2;
}

.card2:hover .facebook {
  fill: white;
}

.card3:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: black;
}

.card3:hover .github {
  fill: white;
}

.card4:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #8c9eff;
}

.card4:hover .discord {
  fill: white;
}
 a{
  color: black;
 }
 a:link { 
  text-decoration: none; 
} 
a:visited { 
  text-decoration: none; 
} 
a:hover { 
  text-decoration: none; 
} 
a:active { 
  text-decoration: none; 
}
h2{
  color: #4B1F0E;
}
.featured-product-title{
  text-align: center;
}
  
@media (max-width: 1990px) {
  .header--logo{
    height: 130px;
    max-width: 1990px;
  }
  .header--logo img{
    height: 130px;
    width: 160px;
  }
  main{
    margin-left: 10px;
    margin-right: 10px;
  }
  .header--logo h1{
    margin-top: -90px;
    text-align: center;
    color: #794028;
    font-size: 50px;

  }
  h1:hover{
    color: #4B1F0E;
    cursor: pointer;
  }
  .navbar{
    max-width: 1990px;
    height:100px;
   
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .burger-holder{
    width: 90px;
    height: 90px;
  }
  .menu--template{
    height: 100vh;
    width: 585px;
    display: none;
    background-color: rgb(0, 0, 0);
    position: absolute;
    align-items: center;
    justify-content: center;
  }
  .menu--template ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }
  .menu--template ul li{
    width: 585px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
  }
  .menu--template ul li a{
    text-decoration: none;
    color: white;
  }
  .X--logo{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 20%;
    top: 20%
  }
  .navbar ul{
    list-style-type: none;
    background-color: #0E0504;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
  }
  .navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
  }
  .navbar a:hover{
    background-color: #4B1F0E;
  }
  .navbar li{
    float: left;
    display: none;
  }
  .container {
    background-color: transparent;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
    .container--product {
      display: flex;
      justify-content: space-between;
    }
    
    .product--product {
      
    }
    
    .product--img--products {
      
    }
    
    .button--products  {
    }
}

   /* 2xl */
   @media (max-width: 1536px) {
    .container {
      max-width: 1536px;
    }
    .header--logo{
      height: 130px;
      width: 1536px;
    }
    .header--logo img{
      height: 130px;
      width: 160px;
    }
    main{
      margin-left: 10px;
      margin-right: 10px;
    }
    .header--logo h1{
      margin-top: -90px;
      text-align: center;
      color: #794028;
      font-size: 50px;
    }
    h1:hover{
      color: #4B1F0E;
      cursor: pointer;
    }
    .navbar{
      width: 1536px;
      height:100px;
      
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .header--logo img{
      width: 180px;
      height: 130px;
    }
    .burger-holder{
      width: 90px;
      height: 90px;
    }
    .product img {
      max-width: 400px;
      height: auto;
  }
  .container--product {
    display: flex;
    justify-content: space-between;
  }
  
  .product--product {
    
  }
  
  .product--img--products {
    
  }
  
  .button--products  {
  }
}
    /* xl */
    @media (max-width: 1280px) {
      .container {
        max-width: 1280px;
      }
      .header--logo h1{
        font-size: 45px;
      }
      .navbar{
        width: 1280px;
        height:100px;
        
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .header--logo{
        height: 150px;
        width: 1280px;
      }
      .header--logo img{
        width: 180px;
        height: 130px;
      }
      .product img {
        max-width: 310px;
        height: auto;
    }
    }
      /* lg */
  @media (max-width: 1024px) {
    .container {
      max-width: 1024px;
    }
    .header--logo{
      height: 150px;
      width: 1024px;
    }
    .header--logo img{
      height: 150px;
      width: 180px;
    }
    .header--logo h1{
      margin-top: -90px;
      text-align: center;
      color: #794028;
      font-size: 40px;
    }
    .navbar{
      width: 1024px;
      height:100px;
      
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .product img {
      max-width: 200px;
      height: auto;
  }
  }
   /* md */
   @media (max-width: 768px) {
    .container {
      max-width: 768px;
    }
    .header--logo{
      height: 130px;
      width: 768px;
    }
    .header--logo img{
      height: 150px;
      width: 180px;
    }
    .header--logo h1{
      margin-top: -90px;
      text-align: center;
      color: #794028;
      font-size: 30px;
    }
    .navbar{
      width: 768px;
      height:90px;
      
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .menu--template{
      height: 100vh;
      width: 385px;
     
    }
    .product img {
      max-width: 190px;
      height: auto;
  }
  .container--product {
    display: flex;
    justify-content: space-between;
  }
  
  .product--product {
    
  }
  
  .product--img--products {
    
  }
  
  .button--products  {
    height: 30px;
    width: 130px;
  }
  }
/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 640px;
  }
  .header--logo{
    height: 120px;
    width: 640px;
  }
  .header--logo img{
    height: 130px;
    width: 160px;
  }
  .header--logo h1{
    margin-top: -90px;
    margin-left: 50px;
    text-align: center;
    color: #794028;
    font-size: 35px;
  }
  .navbar{
    width: 640px;
    height:80px;
    
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .product img {
    max-width: 130px;
    height: auto;
}
}

  /* xs */
  @media (max-width: 475px) {
    .container {
      width: 475px;
      width: 99%;
      
    }
    .header--logo{
      height: 130px;
      width: 475px;
    }
    .header--logo img{
      height: 100px;
      width: 140px;
    }
    .header--logo h1{
      margin-top: -60px;
      margin-left: -20px;
      text-align: center;
      color: #794028;
      font-size: 20px;
    }
    .navbar{
      width: 475px;
      height:60px;
      
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .menu--template{
      height: 100vh;
      width: 255px;
    }
    .burger-holder{ 
      height: 75px;
      width: 75px;
      margin-top: -30px;
    }
    .product img {
      max-width: 85px;
      height: auto;
  }
  .wallpaper--image{
    height: 100%;
    width: 100%;
  }
    .card4 {
      width: 120px;
      height: 120px;
    }
    .card3 {
      width: 120px;
      height: 120px;
    }
    .card2 {
      width: 120px;
      height: 120px;
    }
    .card1 {
      width: 120px;
      height: 120px;
    }
    .container--product {
      display: flex;
      justify-content: space-between;
      width: flex;
    }
    
    .product--product {
      height: 300px;
      width: 100px;
    }
    
    .product--img--products {
      
    }
    
    .button--products  {
      height: 30px;
      width: 120px;
    }
  } 
  @media (max-width: 375px) {
    .container--product {
      display: flex;
      justify-content: space-between;
      width: 100px;
    }
    .product--product {
      height: 260px;
      
    }
    
    .product--img--products {
      
    }
    
    .button--products  {
      height: 30px;
      width: 100px;
    }
  }
  @media (max-width: 360px) {
    .card4 {
      width: 100px;
      height: 100px;
    }
    .card3 {
      width: 100px;
      height: 100px;
    }
    .card2 {
      width: 100px;
      height: 100px;
    }
    .card1 {
      width: 100px;
      height: 100px;
    }
    #question--contact{
      position: absolute;
      justify-content: center;
      text-align: center;
    }
    .container--product {
      display: flex;
      justify-content: space-between;
      width: 290px;
    }
    
    .product--product {
      height: 250px;
      width: 90px;
    }
    
    .product--img--products {
      
    }
    
    .button--products  {
      height: 20px;
      width: 80px;
    }
  } 
  @media (max-width: 320px) {
    .container {
      width: 320px;
    }
    .header--logo{
      height: 100px;
      width: 320px;
    }
    .header--logo img{
      height: 70px;
      width: 100px;
    }
    .header--logo h1{
      margin-top: -50px;
      margin-left: 83px;
      text-align: center;
      color: #794028;
      font-size: 20px;
    }
    .navbar{
      width: 320px;
      height:60px;
      
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .burger-holder{
      width: 60px;
      height: 60px;
    }
    .menu--template{
      height: 100vh;
      width: 255px;
    }
    .product img {
      max-width: 150px;
      height: auto;
  }
  .wallpaper--image{
    height: 100%;
    width: 290px;
  
    }
    .card4 {
      width: 90px;
      height: 90px;
    }
    .card3 {
      width: 90px;
      height: 90px;
    }
    .card2 {
      width: 90px;
      height: 90px;
    }
    .card1 {
      width: 90px;
      height: 90px;
    }
    .contact--us{
      width: 100%;
    }
    #question--contact{
      font-size:30px ;
      
    }
    #touch--contact{
      font-size: 15px;
      
    }
    .container--product {
      display: flex;
      justify-content: space-between;
        width: 100%;
        max-width: 100%;
        overflow: hidden;  
    }
    .product--product {
      height: 280px;
      box-sizing: border-box;

    }
    
    .product--img--products {
      
    }
    
    .button--products  {
      position: flex;
      height: 30px;
      width: 90px;
    }
    
}

  .footer {
    position: relative;
    width: 100vw;
    height: 20vh;
    background: #967259;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
  }
  .social-icon,
  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  
  .social-icon__item,
  .menu__item {
    list-style: none;
  }
  
  .social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }
  .social-icon__link:hover {
    transform: translateY(-10px);
    color: #3d3d3d;
  }
  
  .menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
  }
  
  .menu__link:hover {
    opacity: 1;
    color: #3d3d3d;
  
  }
  .footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
  }

#h1--About{
  text-align: center;
  justify-content: center;
  font-size: 80px;
  color:#0E0504;
  font:bold;
  font-family: cursive;
}
#h4--About{
  text-align: center;
  justify-items: center;
  justify-content: center;
  font-family: monospace;
  font-size: 30px;
}
.contact--us{
  width: 100%;
  height: 200px;
  text-align: center;
  align-items: center;
}
#question--contact{
 font-size: 50px;
 font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#touch--contact{
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container--product {
  display: flex;
  justify-content: space-between;
}

.product--product {
  flex: 0 0 30%; /* 30% width for each product */
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.product--img--products {
  max-width: 100%;
  height: auto;
}

.product-name--products {
  font-weight: bold;
}

.product-price--products {
  color: #e44d26; 
}

.button--products  {
  cursor: pointer;
  font-weight: 700;
  font-family: Helvetica,"sans-serif";
  transition: all .2s;
  padding: 10px 20px;
  border-radius: 100px;
  background: #cfef00;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  font-size: 15px;
  justify-content: center;
  top: 50%;
  left: 50%;
}

.button--products:hover {
  background: #c4e201;
}

.button--products > svg {
  width: 34px;
  margin-left: 10px;
  transition: transform .3s ease-in-out;
}

.button--products:hover svg {
  transform: translateX(5px);
}

.button--products:active {
  transform: scale(0.95);
}



label {
  display: block;
  margin-top: 10px;
}

input {
  width: 60px;
  padding: 5px;
  margin-bottom: 10px;
}
.container--purchase
  .container {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}
.thank-you-container--purchase{
  text-align: center;
  padding: 20px;
  background-color: #EFC3A4;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 600px;

}
.thank-you-container--purchase{
}

.h1--purchase {
  color: #333;
}

.p--purchase {
  color: #555;
  line-height: 1.6;
}

.address--purchase {
  margin-top: 20px;
}